dist: xenial

language: ruby
matrix:
  allow_failures:
    - rvm: ruby-head

before_install:
  - gem install bundler -v "${BUNDLER_VERSION:->= 2}"

rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - jruby
  - ruby-head

matrix:
  include:
    - rvm: 2.0.0-p648
      env: BUNDLER_VERSION="1.17.3"
    - rvm: 2.1.10
      env: BUNDLER_VERSION="1.17.3"
    - rvm: 2.2.10
      env: BUNDLER_VERSION="1.17.3"

notifications:
  webhooks:
    urls:
      - http://buildlight.collectiveidea.com/
    on_start: always
